body {
  background-color: #f5d79b;  /* Light brown canvas color */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bayou-logo {
  width: 70%;
  height: 70%;
  margin-right: 70px;
}
/* App.css */

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Generic card style */
.card {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;  /* gives a slightly curved border */
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.smalls-card, .poboys-card, .baskets-card, .sides-card {
  /* other styles you might have */
  padding: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This aligns items vertically in the middle if they have different heights */
}

/* Optional: Add some styling to the price for a better appearance */
.price {
  font-weight: bold;
  font-size: 1.2em;
}
